.cart {
  background: #fff;
  margin: 2rem auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  position: relative;
}
.cart__items {
  flex: 0.7;
  margin-right: 1rem;
  @media only screen and (max-width: 956px) {
    margin-top: 350px;
  }
}

.cart__summary {
  background: #fff;
  @media only screen and (max-width: 900px) {
    position: fixed;
    top: 100px;
    width: 90%;
    margin: 0 auto;
    z-index: 1111;
  }

  width: 300px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  height: 350px;
  position: fixed;
  right: 10%;
  bottom: 45%;
}

.summary__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
}
.summary__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
}
.summary__price span:nth-child(1) {
  flex: 0.7;
  font-weight: bold;
  span {
    font-size: 28px;
  }
}
.summary__price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.summary__checkoutBtn {
  padding: 10px 17px;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background: #bf0000;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.summary__checkoutBtn:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
  background: #bf0000;
}

.summary__checkoutBtn:hover {
  opacity: 0.75;
}
.backto {
  position: absolute;
  bottom: 90px;
  left: 40px;
  padding: 6px 17px;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  color: #bf0000;

  &:focus {
    outline: none;
  }
}
