.featured {
  width: 100%;
  height: 480px;
  display: flex;
  .featured-left {
    flex: 0.5;
    background: #000;
    .featured-title {
      padding: 50px 0 50px 100px;
      h2 {
        font-family: Montserrat;
        font-size: 40px;
        line-height: 49px;
        color: #fff;
      }
    }
    .featured-describtion {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      padding-left: 100px;
      margin-top: 0;
      .featured-image {
        width: 250px;
        max-height: 200px;
        margin-left: 10px;
        .image {
          overflow: hidden;
          img {
            transition: transform 0.5s;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover {
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -o-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2);
            }
          }
        }
        .footer-desc {
          h4 {
            color: #fff;
            width: 280px;
            padding-top: 20px;
            font-family: Montserrat;
            font-size: 20px;
            line-height: 24px;
          }
          .video-icon {
            padding-top: 17px;
            p {
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .featured-right {
    flex: 0.5;
    position: relative;
    overflow: hidden;
    .wrapper {
      .featured-buttons {
        position: absolute;
        top: 5px;
        right: 10px;
        display: flex;
        justify-content: end;
        padding: 79px 100px;
        z-index: 5;
      }
      .wrapper1 {
        background: url(../../../img/Coach.jpg);
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        h2 {
          color: #fff;
          width: 566px;
          font-family: Montserrat;
          font-weight: 600;
          font-size: 32px;
          font-style: SemiBold;
          text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
          position: absolute;
          bottom: 41px;
          line-height: 49px;
          left: 30px;
        }
      }
      .wrapper2 {
        background: url(../../../img/unsplash_r-xKieMqL34.png);
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover {
          webkit-transform: scale(1.04);
          -moz-transform: scale(1.04);
          -o-transform: scale(1.04);
          -ms-transform: scale(1.04);
          transform: scale(1.04);
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }
      .wrapper3 {
        background: url(../../../img/unsplash_CREqtqgBFcU.jpg);
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover {
          webkit-transform: scale(1.04);
          -moz-transform: scale(1.04);
          -o-transform: scale(1.04);
          -ms-transform: scale(1.04);
          transform: scale(1.04);
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }
    }
  }
}
@media (max-width: 789px) {
  .featured {
    display: block !important;
    align-items: center;
    background-color: #000;
    height: 100vh;
    .featured-left {
      .featured-title {
        padding: 10px 0 30px 0;
        h2 {
          font-family: Montserrat;
          font-size: 32px;
          line-height: 40px;
          color: #fff;
        }
      }

      .featured-describtion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;
        .featured-image {
          padding-top: 50px;
          margin: 100px auto 0 auto;
        }
      }
    }
    .featured-right {
      display: none;
    }
  }
  .mt {
    margin-top: 100px;
  }
}
