#ground {
  width: 100%;
  background: #f8f8f8;
  .ground-title {
    padding: 50px 0 50px 100px;
    h2 {
      font-family: Montserrat;
      font-style: Bold;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      line-height: 100%;
    }
  }
  .ground-main {
    width: 137%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -ms-overflow-style: none;
    .ground-card {
      width: 1040px;
      height: 250px;
      margin: 50px 430px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: linear-gradient(
        to right,
        #bf0000 0%,
        rgba(0, 0, 0, 0.88) 100%
      );
      border-radius: 10px;
      .card-left {
        padding: 50px 0 0 31px;
        .card-title {
          margin-top: -10px;
          h2 {
            font-size: 28px;
            font-weight: 700;
            line-height: 34px;
            line-height: 100%;
            color: #fff;
          }
        }
        .card-desc {
          padding-top: 16px;
          p {
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
          }
        }
        .card-button {
          padding-top: 10px;
          button {
            border: none;
            background: #fff;
            color: #000;
            padding: 0.5rem 1rem;
            font-weight: 22px;
            font-size: 18px;
          }
        }
      }
      .ground-right {
        overflow: hidden;
        img {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          object-fit: cover;
          height: 250px;
          width: 500px;
        }
      }
    }
  }
  .ground-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button {
      width: 15px;
      height: 15px;
      background: #bf0000;
      margin: 25px 20px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 430px) {
  #ground {
    width: 100%;
    background: #f8f8f8;
    .ground-title {
      padding: 50px 0 30px 30px;
      h2 {
        font-size: 32px;
        line-height: 42px;
      }
    }
    .ground-main {
      width: 100%;
      .ground-card {
        position: relative;
        width: 350px;
        height: 600px;
        border-radius: 10px;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        .card-left {
          padding: 20px 0 0 0;

          .card-desc {
            padding: 16px 0;
          }
        }
        .ground-right {
          img {
            position: absolute;
            width: 100%;
            height: 250px;
            left: 0;
            bottom: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            object-fit: cover;
          }
        }
      }
    }
    .ground-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      button {
        width: 15px;
        height: 15px;
        background: #bf0000;
        margin: 25px 20px;
        border-radius: 50%;
      }
    }
  }
}
