#slider1{
    width: 100% !important;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
    .slider2{
        width: 100% ;
        height: 600px;
        background: url(../../../img/bleron-salihi-n2Mch3QrtU8-unsplash.jpg);
        background-size: cover;
        background-position: bottom center;
    }
    .slider3{
        width: 100% ;
        height: 600px;
        background: url(../../../img/bleron-salihi-s1rHdvvgPio-unsplash.jpg);
        background-size: cover;
        background-position: center center;
    }
    .slider4{
        width: 100% ;
        height: 600px;
        background: url(../../../img/img1114.jpg);
        background-size: cover;
        background-position: center center;
    }
    .slider5{
        width: 100% ;
        height: 600px;
        background: url(../../../img/shop-header-img.png);
        background-size: cover;
        background-position: center top;
    }
    .slider6{
        width: 100% ;
        height: 600px;
        background: url(../../../img/shop-header-img.png);
        background-size: cover;
        background-position: center top;
    }
    .slider7{
        width: 100% ;
        height: 600px;
        background: url(../../../img/shop-header-img.png);
        background-size: cover;
        background-position: center top;
    }
}