#wish {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  .wish-title {
    padding-top: 20px;
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29.27px;
    }
  }
  margin-left: 10px;
  .wishlist-carts {
    padding: 50px 0;
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    .wishlist-cart {
      width: 892px;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      padding: 5px 50px;
      justify-content: space-between;
      .cart-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        .img {
          height: auto;
          display: flex;
          width: 80px;
          img {
            object-fit: contain;
          }
        }
        .desc {
          margin-left: 40px;
          h2 {
            font-size: 20px;
            font-weight: 600;
            line-height: 29.26px;
          }
          p {
            font-weight: 600;
          }
        }
      }
    }
  }
}
