#news {
  .news-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-top: 130px;
    .title-left {
      margin: 30px 0 32px 70px;
      transition: all 0.5s ease;
      .buttons {
        margin-left: 30px;
        padding: 0.3rem 0.8rem;
        border: 0.5px solid #c2c2c2;
        &:hover {
          background: #bf0000;
          color: #fff;
        }
      }
      .active-categ {
        background: #bf0000;
        padding: 0.3rem 0.8rem;
        color: white;
        margin-left: 30px;
      }
    }

    .title-right {
      margin: 30px 70px 32px 0;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        .title-item {
          margin-left: 30px;
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
        .active-categ {
          color: red;
          margin-left: 30px;
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            background: red;
            top: 20px;
            left: 0;
          }
        }
      }
    }
  }
  .main-body {
    display: flex;
    justify-content: center;
    .body-left {
      flex: 0.65;
      height: auto;
      .firts-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 28px 0 25px 100px;
        background: #f8f8f8f8;
        width: 800px;
        border-radius: 10px;
        height: auto;
        position: relative;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        &:hover {
          .card-info {
            h2 {
              color: #1565c0;
            }
          }
        }
        .card-img {
          flex: 0.5;
          overflow: hidden;
          position: relative;
          height: 400px;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 1s;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            object-fit: cover;
            &:hover {
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -o-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
        }

        .card-desc {
          margin-left: 15px;
          flex: 0.5;

          .card-date {
            width: 45%;
            position: absolute;
            top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            p {
              background: #bf0000;
              color: #fff;
              padding: 0.3rem;
              line-height: 14px;
            }
          }
          .card-info {
            h2 {
              font-size: 22px;
              font-weight: 600;
              line-height: 27px;
              margin-bottom: 10px;
              margin-top: 30px;
              &:hover {
                color: #1565c0;
              }
            }
            p {
              font-weight: 400px;
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 20px;
              padding-right: 12px;
            }
            button {
              background: #d8d8d8;
              padding: 0.5rem 1rem;
              font-weight: 600;
              &:hover {
                background: #c4c3c3;
              }
            }
          }
          .share-icons {
            margin-top: 15px;
            margin-left: 20px;
            cursor: pointer;
            .like-button {
              font-size: 1rem;
              padding: 5px 10px;
              color: #585858;
            }
            .liked {
              font-weight: bold;
              color: #1565c0;
            }

            .icons-header {
              .icon {
                margin-top: 20px;
                .icons {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      .cards {
        margin: 25px 20px 25px 100px;
        width: 390px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        .card {
          background: #f8f8f8f8;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          &:hover {
            .card-info {
              h2 {
                color: #1565c0;
              }
              p {
                color: #1565c0;
              }
            }
          }
          .card-img {
            overflow: hidden;
            height: 250px;
            position: relative;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              transition: transform 1.5s;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -ms-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
              object-fit: cover;

              &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                border-radius: 10px;
              }
            }
          }
          .card-desc {
            .card-date {
              margin: 24px 0 38px 10px;
            }
            .card-info {
              h2 {
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                margin-bottom: 10px;
                width: 393px;
                padding: 0 10px;
              }
            }
            .share-icons {
              margin-top: 44px;
              margin-bottom: 15px;
              cursor: pointer;
              .like-button {
                font-size: 1rem;
                padding: 5px 10px;
                color: #585858;
              }
              .liked {
                font-weight: bold;
                color: #1565c0;
              }
            }
          }
        }
      }
    }
    .body-right {
      flex: 0.35;
      height: auto;
      .main-body-right {
        margin: 32px 100px 15px 0;
        .card {
          background: #f8f8f8;
          width: 420px;
          height: 180px;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 10px;
          margin: 15px 0;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
          &:hover {
            .card-info {
              h2 {
                color: #1565c0;
              }
              p {
                color: #1565c0;
              }
            }
          }
          .card-img {
            flex: 0.4;
            overflow: hidden;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 180px;
            width: 120px;
            position: relative;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transition: transform 1.5s;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -ms-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
              object-fit: cover;
              &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          }
          .card-desc {
            flex: 0.6;
            padding-left: 15px;
            .card-info {
              h2 {
                padding: 15px 0;
              }
            }
            .share-icons {
              cursor: pointer;
              .like-button {
                font-size: 0.8rem;
                padding: 5px 10px;
                color: #585858;
              }
              .liked {
                font-weight: bold;
                color: #1565c0;
              }
            }
          }
        }
      }
      .popular-news {
        margin-top: 15px;
        background: #f8f8f8;
        width: 420px;
        border-radius: 10px;
        .news-title {
          padding: 30px 28px 25px 28px;
          h3 {
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;
            color: red;
          }
        }
        .news {
          padding: 30px 43px 30px 26px;
          p {
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            span {
              color: red;
              margin-right: 11px;
            }
          }
          h5 {
            color: #999999;
            font-size: 14px;
            font-weight: 600;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 880px) {
  #news {
    .news-title {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
      .title-left {
        margin: 0 auto;
        .title {
          .title-item {
            margin-left: 20px;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }
      }

      .title-right {
        margin: 20px auto 32px auto;
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          .title-item {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
    }
    .main-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      .body-left {
        flex: 1;
        height: auto;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        .firts-card {
          display: none;
        }
        .cards {
          margin: 25px 20px 25px 0 !important;
          width: 100%;
          border-radius: 10px;
          display: grid;
          grid-template-columns: 1fr;
          .card {
            width: 330px;
            .card-desc {
              .card-info {
                h2 {
                  width: 320px;
                }
              }
            }
          }
        }
      }
      .body-right {
        flex: 1;
        height: auto;
        .main-body-right {
          margin: 0 auto;
          .popular-news {
            width: 340px;
            margin: 0 auto;
          }
          .card {
            width: 350px;
            .card-desc {
            }
          }
        }
      }
    }
  }
}
