/* #map {
  width: 100%;
  height: auto;
  .back {
    margin: 141px 0 0 100px;
    button {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .mainMapSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 161px 100px 0 100px;
    .initMap {
      flex: 0.5;
      border-radius: 10px;
      width: 500px;
      height: 300px;
      div {
        width: 500px;
        height: 300px;
      }
    }
    .initDesc {
      flex: 0.4;
      .title {
        margin-bottom: 30px;
        h3 {
          font-size: 36px;
          line-height: 48px;
          font-weight: 700;
        }
      }
      .desc {
        width: 474px;
        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}
 */
.Mapping {
  .mapping {
    margin: 0 auto;
    margin-top: 130px;
    max-width: 1245px;
    h1{
      margin: 25px 0;
      font-size: 25px;
      font-weight: 600;
    }
    .about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      .map {
        width: 700px;
        height: 500px;
        .ymaps{
          width: 700px;
        }
      }
      .area {
        width: 475px;
        height: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        &_title {
          font-weight: 700;
          font-size: 36px;
          line-height: 35px;
          margin-bottom: 30px;
        }
        .tools {
          display: flex;
          justify-content: center;
          align-items: center;
          .first {
            margin-right: 60px;
            .area_items {
              font-weight: 400;
              font-size: 18px;
              margin-bottom: 10px;
            }
          }
          .second {
            .area_items {
              font-weight: 400;
              font-size: 18px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .images {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      .image {
        width: 288px;
        height: 470px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
