#shopcard {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  .card-title {
    margin: 50px 0 30px 100px;
    h2 {
      font-size: 34px;
      line-height: 48px;
      font-weight: 600;
    }
  }
  .mySwiper {
    padding-left: 55px;
    .store-card {
      width: 350px;
      height: 350px;
      position: relative;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      margin: 50px 20px !important;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.45);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
      .card-top-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        img {
          height: 45px;
        }
        .liked {
          color: #bf0000;
          font-size: 2rem;
          cursor: pointer;
        }
        .unliked {
          color: #d8dbe2;
          font-size: 2rem;
          cursor: pointer;
        }
        .discount {
          position: absolute;
          background: rgb(221, 120, 63);
          color: #fff;
          padding: 0.5rem 1rem;
          right: -10px;
          top: 220px;
          overflow: auto !important;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
      .card-img {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        overflow: hidden;
        img {
          height: 220px;
          transition: transform 1s;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          object-fit: contain;
          &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }
    }
    .card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #bf0000;
      padding: 5px;
      height: auto;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      cursor: pointer;
      .club-name {
        h4 {
          font-family: Montserrat;
          color: #fff;
          line-height: 22px;
          font-size: 18px;
          font-weight: 500;
        }
        p {
          color: white;
          font-family: Montserrat;
          color: #fff;
          line-height: 22px;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
@media (max-width: 430px) {
  #shopcard {
    .card-title {
      margin: 50px 0 30px 50px;
    }
    .mySwiper {
      margin-left: 0px;
      .store-card {
        width: 280px !important;
        height: 350px;
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        margin: 50px 30px !important;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }
  }
}
@media (max-width: 767px) {
  #shopcard {
    .card-title {
      margin: 50px 0 30px 50px;
    }
    .mySwiper {
      margin-left: 0px;
      .store-card {
        max-width: 280px !important;
        height: 350px;
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        margin: 50px 30px !important;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }
  }
}
